openapi: 3.1.0
info:
  title: YouTube Data Activities Subscriptions API
  description: The YouTube Data API v3 lets you incorporate YouTube functionality into your own application. You can use the API to fetch search results, retrieve and manage video resources, manage channels and playlists, and access subscription and activity data.
  version: v3
  contact:
    name: Google
    url: https://developers.google.com/youtube/v3
servers:
- url: https://youtube.googleapis.com/youtube/v3
security:
- oauth2: []
- apiKey: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: List subscriptions
      description: Returns subscription resources.
      parameters:
      - name: part
        in: query
        required: true
        schema:
          type: string
      - name: mine
        in: query
        schema:
          type: boolean
      - name: channelId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      tags:
      - Subscriptions
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Upload YouTube videos
    apiKey:
      type: apiKey
      in: query
      name: key
