openapi: 3.1.0
info:
  title: YouTube Data Activities Playlists API
  description: The YouTube Data API v3 lets you incorporate YouTube functionality into your own application. You can use the API to fetch search results, retrieve and manage video resources, manage channels and playlists, and access subscription and activity data.
  version: v3
  contact:
    name: Google
    url: https://developers.google.com/youtube/v3
servers:
- url: https://youtube.googleapis.com/youtube/v3
security:
- oauth2: []
- apiKey: []
tags:
- name: Playlists
paths:
  /playlists:
    get:
      operationId: listPlaylists
      summary: List playlists
      description: Returns a collection of playlists.
      parameters:
      - name: part
        in: query
        required: true
        schema:
          type: string
      - name: channelId
        in: query
        schema:
          type: string
      - name: mine
        in: query
        schema:
          type: boolean
      - name: maxResults
        in: query
        schema:
          type: integer
          default: 5
          maximum: 50
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistListResponse'
      tags:
      - Playlists
    post:
      operationId: insertPlaylist
      summary: Create a playlist
      description: Creates a new playlist.
      parameters:
      - name: part
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Playlist'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
      tags:
      - Playlists
components:
  schemas:
    Playlist:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        id:
          type: string
        snippet:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            channelId:
              type: string
    PlaylistListResponse:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Playlist'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Upload YouTube videos
    apiKey:
      type: apiKey
      in: query
      name: key
