openapi: 3.1.0
info:
  title: YouTube Data Activities PlaylistItems API
  description: The YouTube Data API v3 lets you incorporate YouTube functionality into your own application. You can use the API to fetch search results, retrieve and manage video resources, manage channels and playlists, and access subscription and activity data.
  version: v3
  contact:
    name: Google
    url: https://developers.google.com/youtube/v3
servers:
- url: https://youtube.googleapis.com/youtube/v3
security:
- oauth2: []
- apiKey: []
tags:
- name: PlaylistItems
paths:
  /playlistItems:
    get:
      operationId: listPlaylistItems
      summary: List playlist items
      description: Returns a collection of playlist items.
      parameters:
      - name: part
        in: query
        required: true
        schema:
          type: string
      - name: playlistId
        in: query
        required: true
        schema:
          type: string
      - name: maxResults
        in: query
        schema:
          type: integer
          default: 5
          maximum: 50
      responses:
        '200':
          description: Successful response
      tags:
      - PlaylistItems
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Upload YouTube videos
    apiKey:
      type: apiKey
      in: query
      name: key
