openapi: 3.1.0
info:
  title: YouTube Data Activities Channels API
  description: The YouTube Data API v3 lets you incorporate YouTube functionality into your own application. You can use the API to fetch search results, retrieve and manage video resources, manage channels and playlists, and access subscription and activity data.
  version: v3
  contact:
    name: Google
    url: https://developers.google.com/youtube/v3
servers:
- url: https://youtube.googleapis.com/youtube/v3
security:
- oauth2: []
- apiKey: []
tags:
- name: Channels
paths:
  /channels:
    get:
      operationId: listChannels
      summary: List channels
      description: Returns a collection of zero or more channel resources.
      parameters:
      - name: part
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: string
      - name: mine
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
      tags:
      - Channels
components:
  schemas:
    Channel:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        id:
          type: string
        snippet:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            publishedAt:
              type: string
              format: date-time
        statistics:
          type: object
          properties:
            viewCount:
              type: string
            subscriberCount:
              type: string
            videoCount:
              type: string
    ChannelListResponse:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Upload YouTube videos
    apiKey:
      type: apiKey
      in: query
      name: key
